*.pyc
stow/glide/.config/glide/glide/
stow/OpenTabletDriver/.config/OpenTabletDriver/Logs/
stow/tmux/.config/tmux/plugins
stow/opencode/.config/opencode/package-lock.json
stow/glide/.config/glide/glide.d.ts
